<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
<body>
    <form th:action="@{/cadastro}" th:object="${user}" method="post">
        <h1>Crie sua Conta</h1>
        <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" th:field="*{name}" required>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="erro-campo"></p>
        </div>
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" th:field="*{email}" required>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="erro-campo"></p>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" th:field="*{password}" required>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="erro-campo"></p>
        </div>
        <button type="submit">Cadastrar</button>
        <p><a th:href="@{/login}">Já tem uma conta? Faça login</a></p>
    </form>
</body>
</html>